<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div id="tittle">
            <h1>Games</h1>
            <h1>Division</h1>
        </div>
        <ul>
            <a href="/destaque"><li >Inicio</li></a>
            <a href="/categorias"><li >Categorias</li></a>
            <a href="/jogos"><li id="cadastro" >Todos os jogos</li></a>
        </ul>
    </header>

    <main id="inicial" class="content">

            

    </main>
    
    <div>
        
        <form action="/api/comentario" method="POST">
            <h2>Avalie o Jogo</h2>
            <select name="nome" id="nome">

            </select>
            <select name="nota" id="nota" required>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <input type="text" name="comentario" placeholder="Comentario" required>
            <input id="idJogo" style="visibility: hidden;" type="text" name="idJogo" value="" readonly />
            
            <button type="submit">Enviar</button>


        </form>
    </div>
    <h2>Comentarios:</h2>
    <div id="comentarios">



    </div>
    <script src="scripts/renderJogo.js"></script>
</body>
</html>